.navbar{
    margin-top: 30px;
    background: rgba(50, 50, 197, 0.18);
    padding: 20px 20px;
}
.offcanvas-body form .form-control{
    width: 200px;
    height: 60px;
    background: none;
}
.offcanvas-body ul li{
    padding-left: 60px;
}
.offcanvas-body ul li .act-1{
    color: green;
}
.offcanvas-body ul li a{
    color: darkblue;
}
.offcanvas-body ul li .cont-color{
    color: white;
}
.header-homer{
    margin-top: 240px;
    color: darkblue;
}
.home-img{
    height: 100vh;
}

.bg-home{
    background: burlywood;
}
.bg-cate{
    background: rgb(7, 7, 58);
}
.category{
    margin-top: 180px;
}
.category img{
    border: 5px solid white;
    width: 300px;
    height: 350px;

}
.category .cat-1{
    font-weight: bold;
    margin-top: 70px;
    color: darkblue;
}
.jux-box{
    z-index: -2;
    position: absolute;
    width: 680px;
    height: 560px;
    margin-top: -500px;
    background: burlywood;
}
.shop img{
    border: 2px solid darkblue;
    margin-top: 120px;
    width: 200px;
    height: 200px;
}
.bg-cont{

    background: blueviolet;
    padding: 20px 26px;
    height: 100vh;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
}
.bg-cont .info{
    margin-top: 70px;
    list-style: none;
    margin-left: -40px;
}
.bg-cont .info li{
    padding: 10px 10px;
}
.info li span{
    margin-right:9px ;
}
.social-media{
    width: 100px;
    position: absolute;
    margin-top: 180px;
}

.small-circle{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 130px;
    margin-left: 150px;
    margin-top: 100px;
    background: rgba(255, 0, 187, 0.694);
}
.big-circle{
    width: 150px;
    height: 150px;
    background: rgb(235, 208, 173);
    border-top-left-radius: 220px;
    margin-top: 128px;
    display: block;
    margin-left: 158px;

}
.bg-form{
    z-index: 1;
    background: white;
}
.bg-form form input{
    margin-top: 20px;
    border-top: none;
    border-left: none ;
    border-right: none;
    border-radius: none;
    border-bottom: 1px solid black;
}
.bg-form form button {
    margin-top: 100px;
}
.bg-form h3{
    text-align: center;
    color: gray;
}
@media screen and (max-width: 600px) {
    
    .offcanvas-body ul li .cont-color{
        color: darkblue;
    }
    .offcanvas-body{
        color: rgb(50, 50, 197);
        background: rgba(8, 158, 65, 0.934);
        backdrop-filter: blur(10px);
    }
    .home-img{
        height: 55vh;
        margin-left: -90px;
    }
    .small-circle{
    display: none;
}
.big-circle{
    display: none;
}
.jux-box{
    display: none;
}
.bg-cate{
    background: burlywood;
}
.category{
    margin-top: -80px;
}
.category img{
    width: 280px;
    margin-left: 60px;
}
.category .col-lg-3{
    margin-top: 140px;
}
.category .col-lg-4{
    margin-top: 80px;
}
.category .col-lg-2{
    margin-top: 80px;
}
.bg-form form{
    margin-top: 11px;
}
.bg-form form button{
    margin-bottom: 40px;
}}