.navbar{
    margin-top: 30px;
    background: transparent;
}
.offcanvas-body form .form-control{
    width: 200px;
    height: 60px;
    background: none;
}
.offcanvas-body ul li{
    padding-left: 60px;
}
.offcanvas-body ul li .act-1{
    color: green;
}
.offcanvas-body ul li a{
    color: darkblue;
}
.header-homer{
    margin-top: 240px;
    color: darkblue;
}
.home-img{
    height: 100vh;
}
.cont{
    color: white;
}
.bg-home{
    background: burlywood;
}
.bg-cont{

    background: blueviolet;
    padding: 20px 26px;
    height: 100vh;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
}
.bg-cont .info{
    margin-top: 70px;
    list-style: none;
    margin-left: -40px;
}
.bg-cont .info li{
    padding: 10px 10px;
}
.info li span{
    margin-right:9px ;
}
.social-media{
    width: 100px;
    position: absolute;
    margin-top: 180px;
}
.small-circle{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 130px;
    margin-left: 150px;
    margin-top: 100px;
    background: rgba(255, 0, 187, 0.694);
}
.big-circle{
    width: 150px;
    height: 150px;
    background: rgb(235, 208, 173);
    border-top-left-radius: 220px;
    margin-top: 128px;
    display: block;
    margin-left: 158px;

}
.bg-form{
    z-index: 1;
    background: white;
}
.bg-form form input{
    margin-top: 20px;
    border-top: none;
    border-left: none ;
    border-right: none;
    border-radius: none;
    border-bottom: 1px solid black;
}
.bg-form form button {
    margin-top: 100px;
}
.bg-form h3{
    text-align: center;
    color: gray;
}
@media screen and (max-width: 600px) {
    
    
    .offcanvas{
        background: rgba(0, 0, 0, 0.276);
        backdrop-filter: blur(11px);
    
        height: 100vh;
    }
    .home-img{
        height: 55vh;
        margin-left: -90px;
    }
    .small-circle{
    display: none;
}
.big-circle{
    display: none;
}
.bg-form form{
    margin-top: 11px;
}
.bg-form form button{
    margin-bottom: 40px;
}}