.navbar{
    position: absolute;
    margin-top: 50px;
    padding: 20px 20px;
}
.offcanvas-body form .form-control{
    width: 200px;
    height: 60px;
    background: none;
}
.offcanvas-body ul li{
    padding-left: 60px;
}
.offcanvas-body ul li .act-1{
    color: green;
}
.offcanvas-body ul li a{
    color: darkblue;
}

.offcanvas-body ul li .cont-color{
    color: green;
}
.header-homer{
    margin-top: 140px;
    color: darkblue;
}
.home-img{
    margin-top: -130px;
    margin-left: -20px;
    height: 100vh;
}

.bg-home{
    background: white;
    animation:  2s  bg-home infinite;
}
@keyframes bg-home {
    form{background: white;}
    to{background: linear-gradient(90deg , grey , white);}
}
.home-btn button{
    margin-left: 50px;
    color: darkblue;
}
.home-btn button:hover{
    background: green;
    color: aliceblue;
}
.bg-cate{
    background: whitesmoke;
}
.category{
    margin-top: 80px;
}
.category button:hover{
    background: darkblue;
    color: white;
}
.category img{
    border: 5px solid white;
    width: 300px;
    height: 350px;

}
.category .cat-1{
    font-weight: bold;
    margin-top: 70px;
    color: darkblue;
}
.jux-box{
    z-index: -2;
    position: absolute;
    width: 700px;
    height: 660px;
    margin-left: -20px;
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px ;
    margin-top: -630px;
    background: linear-gradient(to top, darkgreen, rgb(101, 222, 101) );
    border: 1px groove green;
    animation-delay: 1s ;
    animation: 4s bg-jux infinite;
}
@keyframes bg-jux {
    from{background: linear-gradient( to top , darkgreen , rgb(101, 222, 101));
    }
    to{background: linear-gradient(to left , darkgreen, gray);}
}
.shop{
    margin-left: -20px;
}
.shop img{
    border: 2px solid darkblue;
    margin-top: 50px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
}
.bg-cont{
    background: green;
    padding: 20px 26px;
    height: 100vh;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
}
.bg-cont .info{
    margin-top: 70px;
    list-style: none;
    margin-left: -40px;
}
.bg-cont .info li{
    padding: 10px 10px;
}
.info li span{
    margin-right:9px ;
}
.social-media{
    width: 100px;
    position: absolute;
    margin-top: 180px;
}

.small-circle{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 130px;
    margin-left: 150px;
    margin-top: 100px;
    background: rgba(255, 0, 187, 0.694);
}
.big-circle{
    width: 150px;
    height: 150px;
    background: rgb(235, 208, 173);
    border-top-left-radius: 220px;
    margin-top: 128px;
    display: block;
    background: linear-gradient(45deg, red , blue);
    margin-left: 158px;

}
.bg-form{
    z-index: 1;
    background: white;
}
.bg-form form input{
    margin-top: 20px;
    border-top: none;
    border-left: none ;
    border-right: none;
    border-radius: none;
    border-bottom: 1px solid black;
}
.bg-form form button {
    margin-top: 100px;
}
.bg-form h3{
    text-align: center;
    color: gray;
}
@media screen and (max-width: 600px) {
    
    .offcanvas-body ul li .cont-color{
        color: darkblue;
    }
    .offcanvas-body{
        color: rgb(50, 50, 197);
    }
    
    .home-img{
        width: 250px;
        height: 50vh;
        margin-top: 35px;
        margin-left: -30px;
    }
    .small-circle{
    display: none;
}
.header-homer {
    margin-top: 50px;
    margin-left: -280px;
    animation: 10s move-right infinite;
}
@keyframes move-right {
    from{margin-left: -280px;}
    to{margin-left: 70px;}
}


.big-circle{
    display: none;
}
.jux-box{
    display: none;
}
.shop img{
    margin-left: 80px;
}
.category{
    margin-top: -80px;
}
.category img{
    width: 280px;
    margin-left: 60px;
}
.category .col-lg-3{
    margin-top: 140px;
}
.category .col-lg-4{
    margin-top: 80px;
}
.category .col-lg-2{
    margin-top: 80px;
}
.bg-form form{
    margin-top: 11px;
}
.bg-form form button{
    margin-bottom: 40px;
}}